<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/client.css">
</head>

<body>
    
    <div class="container">
        <h2 id="title">Waiting for next round</h2>
        
        <div id=whiteCards></div>
    </div>

    <div id="app"></div>
    
    <script type="text/javascript" src="/client-bundle.js"></script>
</body>
</html>
