<html>
<head>
    <script src="/vendor/jQuery/jQuery-3.1.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <script type="text/javascript">
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
            window.location = "/mobile.html";
    </script>

    <button id="create-game">Create new game</button>
    
    <script>
        var socket = io.connect();

        $('#create-game').click( function() {
            var roomCode = "";
            var possible = "abcdefghijklmnopqrstuvwxyz0123456789";
            for( var i=0; i < 4; i++ ){
                roomCode += possible.charAt(Math.floor(Math.random() * possible.length));
            }

            socket.emit('createRoom', roomCode);
            window.location = "/comp.html#"+roomCode;
            
        });


    </script>

    
</body>

</html
