<html>
<head>
    <script src="/vendor/jQuery/jQuery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/client.css">
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>

    <h2 id="title">Cards against humanity</h2>
    <script type="text/javascript">
        var socket = io.connect();

        socket.emit('joinroom', prompt("Enter username"), prompt("Enter roomcode"));

        socket.on('update-black-card', function (text) {
    		$('#title').html(text);
    	});

        socket.on('host-left-room', function(){
            alert("Host left the game");
        });

        socket.on('debug', function(text){
            console.log(text);
        });
    </script>
</body>

</html
