.whiteCardTable td{
    border:1px solid;
    min-width: 30px;
    padding: 10px;
}

.whiteCardTable tr{
    cursor: pointer;
}

.selected{
    background-color: green;
}

.joinRoomForm {
    margin-top: 20px;
}
.joinRoomForm input{
    width:100%;
}

.submitted{
    background-color: green;
    border-radius: 999em;
}

/* Submission that is shown when users have submitted their cards */
.submission{
    border: 2px solid black;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}