.whiteCardTable td{
    border:1px solid;
    min-width: 30px;
    padding: 10px;
}

.whiteCardTable tr{
    cursor: pointer;
}

.selected{
    background-color: green;
}

.joinRoomForm {
    margin-top: 20px;
}
.joinRoomForm input{
    width:100%;
}

.submitted{
    background-color: green;
    border-radius: 999em;
}