*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
}

body{
    background-color: currentColor;
}

#req-card{
    position:fixed;
    right: 20px;
    top: 20px;
    color: black;
}
#room-code{
    position:fixed;
    left: 20px;
    top: 20px;
    color: black;

    margin: 0px;
    padding: 10px;
    border-radius: 999em;
    background: white;
}

.bcText{
    text-align: center;
    margin-top: 100px;
}

.table-container{
    position: fixed;
    bottom: 20px;
    width: 100%;
}

#playerList{
    margin: 0 auto;
    text-align: center;
}

#playerList td{
    padding: 10px;
}