*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body{
    background-color: currentColor;
}

#req-card{
    position:fixed;
    right: 20px;
    top: 20px;
}
#textToSpeechBar{
    color:white;
    position:fixed;
    right: 20px;
    top: 50px; 
}

#bc-container{
    display: table;
    width: 100%;
    height: 70%;
}

#bc-container > #black-card{
    padding: 20px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
}
