*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
}

body{
    background-color: currentColor;
}

#req-card{
    position:fixed;
    right: 20px;
    top: 20px;
    color: black;
}
#room-code{
    position:fixed;
    left: 20px;
    top: 20px;
    color: black;

    margin: 0px;
    padding: 10px;
    border-radius: 999em;
    background: white;
}

.bcText{
    text-align: center;
    margin-top: 100px;
}

.table-container{
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.wc-container{
    width: 100%;
    position: fixed;
    bottom: 200px;
}

#playerList{
    margin: 0 auto;
    text-align: center;
}

#playerList td{
    padding: 10px;
}
.white-card{
    background-color: white;
    width: 200px;
    height: 300px;
    padding: 10px;
    padding-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.white-card .white-card-text{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: black;
}


.submitted{
    background-color: green;
    border-radius: 999em;
}