//colors
$white: white;
$black: black;
$color_japanese_laurel_approx: green;

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;

$bc-font-size: 42px;

// Breakpoints
$break-l: 1200px;   /* Large Devices, Big Desktops */
$break-m: 992px;    /* Medium Devices, Desktops */
$break-s: 768px;    /* Small Devices, Tablets */
$break-xs: 480px;   /* Extra Small Devices, Phones */ 