//colors
$white: white;
$black: black;
$color_japanese_laurel_approx: green;

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;

$bc-font-size: 42px;

// Breakpoints
$break-l: 1200px;   /* Large Devices, Big Desktops */
$break-m: 992px;    /* Medium Devices, Desktops */
$break-s: 768px;    /* Small Devices, Tablets */
$break-xs: 480px;   /* Extra Small Devices, Phones */ 

//@extend-elements
//original selectors
//#req-card, #flip-cards
%extend_1 {
	position: fixed;
	right: 20px;
	top: 20px;
	color: $white;
	border: 2px solid $white;
	border-radius: 20px;
	padding: 10px 20px;
	z-index: 999;
	background-color: rgba(0,0,0,0);
	transition: all 0.2s;

	h3{
		margin: 2px;
	}

	&:hover{
		background-color: rgba(85,98,112,0.6);
	}
}


* {
	font-family: $font_0, $font_1, $font_2, $font_3;
	color: $white;
}
body {
	background-color: $black;
}
#req-card {
	@extend %extend_1;
}
#flip-cards {
	@extend %extend_1;
}
#room-code {
	position: fixed;
	left: 20px;
	top: 20px;
	color: $white;
	z-index: 999;
	margin: 0;
	padding: 12px 20px;
	border: 2px solid $white;
	border-radius: 20px;
	background: rgba(0,0,0,0);
}
.bcText {
	text-align: center;
	margin-top: 90px;
	font-size: $bc-font-size;
    @media only screen and (max-width : $break-l) {
    	font-size: $bc-font-size*0.9;
    }

    @media only screen and (max-width : $break-m) {
    	font-size: $bc-font-size*0.8;
    }
   
    @media only screen and (max-width : $break-s) {
    	font-size: $bc-font-size*0.7;
    }

    @media only screen and (max-width : $break-xs) {
    	font-size: $bc-font-size*0.6;
    } 
}
.table-container {
	position: fixed;
	bottom: 20px;
	width: 100%;
}
.wc-container {
	width: 100%;
}
#playerList {
	margin: 0 auto;
	text-align: center;
	td {
		padding: 10px;
	}
}
.white-card {
	background-color: $white;
	width: 200px;
	height: 300px;
	padding: 10px;
	padding-top: 20px;
	border: 3px solid $black;
	border-radius: 10px;
}

.main-content {
	position: absolute;
	margin: auto;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 600px;
}
.submitted {
	background-color: $color_japanese_laurel_approx;
	border-radius: 999em;
}